@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        p {
            padding: 20px;
        }

        #top {
            background: #eee;
        }

        #bottom {
            background: #ddd;
        }

    </style>

    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3.2");
    </script>
    <script type="text/javascript">
    	$(function(){

    	   var $window = $(window);
    	   winHeight = $window.height();

    	   $("#top").height(winHeight/3);
    	   $("#bottom").height(2*winHeight/3);

    	   $(window).resize(function(){

    		 winHeight = $window.height();

    		 $("#top").height(winHeight/3);
    	     $("#bottom").height(2*winHeight/2);

           });
    	});
    </script>
</head>


<body>

    <div id="top">
        <h1>Makerere Engineering Society</h1>
        <p>MES, as it is commonly referred to, traces its roots back to 1971, a time when most engineering  disciplines were introduced in the University and Uganda as a whole. Founded by Mr. Turyamureeba in  1971, the club has played a big role in shaping the lives and the attitudes of several great men and  women in the country by equipping them with interpersonal, leadership and social skills indispensable  in the development of successful careers which has promoted both national and global development.
It is the pioneer students’ organisation in the College Of Engineering, Design Art and Technology and  boasts of a rich vein of products over the years in terms of well placed engineers and professors as well  as other professionals.
</p>
    </div>
    <div id="bottom">
        <h1>Aims and Objectives</h1>
        <p>The activities and programs of the society evolve around the following aims and objectives as stipulated in the society constitution.</p>
        <ul>
           <li>To create a medium of communication between the staff and students.</li>
           <li>To create a worthy relationship between the students and industry and thus facilitate industrial placement of students.</li>
           <li>To get in touch with practicing engineers in the field to help students broaden their technical skills through seminars and workshops hence providing free mentorship programs.</li>
           <li>Create, encourage and perpetuate a sense and spirit of togetherness amongst engineering students and students of the College of Engineering, Design Art and Technology as a whole.</li>
           <li>To protect and defend engineering students’ interests, rights and freedoms.</li>
           <li>To instill a sense of discipline, appreciation, love and pride for the engineering profession.</li>
           <li>To help recommend students to different institutions for scholarships, training and mentorship and employment where possible.</li>
        </ul>
    </div>
</body>

</html>
<h2>@Html.ActionLink("Login", "Login", "Account")</h2>
<h2>@Html.ActionLink("Vote", "ballotpage", "Election")</h2>