
@{
    ViewBag.Title = "ballotpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ballotpage</h2>
<div class="container">
    <div class="page-header">
        <h1>
            Cast Your Vote <br />
            <small>Make it Confidential</small>

        </h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-arrow-right"></span>  President
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input value="1" type="radio" name="optionsRadios" />
                                Maximo Mugisha
                            </label> (<span id="option1Perc">0</span>)
                        </div>
                        <div class="progress">
                            <div id="option1bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input value="2" type="radio" name="optionsRadios" />
                                Ben Sek
                            </label> (<span id="option2Perc">0</span>)
                        </div>
                        <div class="progress">
                            <div id="option2bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input value="3" type="radio" name="optionsRadios" />
                                Kamayangi Eliz
                            </label> (<span id="option3Perc">0</span>)
                        </div>
                        <div class="progress">
                            <div id="option3bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input value="4" type="radio" name="optionsRadios" />
                                Kalamaji John
                            </label> (<span id="option4Perc">0</span>)
                        </div>
                        <div class="progress">
                            <div id="option4bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="vote()">
                        Vote
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-arrow-right"></span>  Vice President
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input value="1" type="radio" name="optionsRadios" />
                                Bill Gates
                            </label> (<span id="option1Perc">0</span>)
                        </div>
                        <div class="progress">
                            <div id="option1bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input value="2" type="radio" name="optionsRadios" />
                                Mark Zuckerberg
                            </label> (<span id="option2Perc">0</span>)
                        </div>
                        <div class="progress">
                            <div id="option2bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input value="3" type="radio" name="optionsRadios" />
                                Shudir Ruparelia
                            </label> (<span id="option3Perc">0</span>)
                        </div>
                        <div class="progress">
                            <div id="option3bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input value="4" type="radio" name="optionsRadios" />
                                Omondi Elis
                            </label> (<span id="option4Perc">0</span>)
                        </div>
                        <div class="progress">
                            <div id="option4bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="vote()">
                        Vote
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
