@model IEnumerable<ElectionApp.Models.Candidate>
@{
    ViewBag.Title = "ballotpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 class="h1">Your Vote, Your Voice</h2>


    <div class="container">
        <div class="page-header">
            <h1>
                Cast Your Vote <br />
                <small>Make it Confidential</small>

            </h1>
        </div>
     </div>
<div class="panel-heading">
    <h3 class="panel-title">
        <span class="glyphicon glyphicon-arrow-right"></span> President
    </h3>
</div>

@foreach (var candidate in Model)
{
    if (@candidate.Post == "President")
    {
        <li class="list-group-item">
            <div class="radio">
                
                <label>
                    @candidate.Name <br />
                    <input value="1" type="radio" name="President" />
                    
                </label>
             </div>
        </li>
    }
 }
<button type="button" class="btn btn-primary btn-xs" >Vote</button>

<div class="panel-heading">
    <h3 class="panel-title">
        <span class="glyphicon glyphicon-arrow-right"></span> Vice President
    </h3>
</div>

@foreach (var candidate in Model)
{
    if (@candidate.Post == "Vice President")
    {
        <li class="list-group-item">
            <div class="radio">
                
                <label>
                    @candidate.Name <br />
                   <br /> <input value="1" type="radio" name = "Vice President" />
                </label>
             </div>
        </li>
    }
}
<button type="button" class="btn btn-primary btn-xs">Vote</button>