
@{
    ViewBag.Title = "tallypage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Votes By Each Candidate</h2>


<ul>
    @foreach (var candidate in Model)
    {
        <li>@candidate.Name @candidate.Post (@candidate.Votes)</li>

    }
</ul>