
@{
    ViewBag.Title = "tallypage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>MES Elections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<h2>Current Votes By Each Candidate</h2>



    @foreach (var candidate in Model)
    {
        <b>@candidate.Name &nbsp; @candidate.Post  &nbsp; (@candidate.Votes)</b> <br />
    }

