<<<<<<< HEAD
﻿
@{
    ViewBag.Title = "tallypage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Current Votes By Each Candidate</h2>



    @foreach (var candidate in Model)
    {
        <b>@candidate.Name &nbsp; @candidate.Post  &nbsp; (@candidate.Votes)</b> <br />
    }

=======
﻿
@{
    ViewBag.Title = "tallypage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Votes By Each Candidate</h2>

   
>>>>>>> 083db1f586db87e015e0c4b5d9bce3f38de76c23
